<section class="sectionPadding">
  <div class="container">
    <div
      class="bg-primary rounded-5 sectionPadding position-relative overflow-hidden"
      style="
        background: url(assets/images/img2.jpg) no-repeat center center/cover;
      "
    >
      <div
        class="position-absolute bg-primary"
        style="inset: 0; opacity: 0.9"
      ></div>

      <div
        class="text-white text-center p-4 rounded-3 d-flex flex-column align-items-center justify-content-center gap-4 position-relative z-1"
      >
        <h1>
          استثمر في مهاراتك مع <br />
          <span class="text-secondary">أفضل الدورات</span>
        </h1>

        <h6
          class="fw-light mx-auto"
          style="line-height: 1.7; max-width: 1000px"
        >
          أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة يساعد
          الأفراد على تطوير مهاراتهم واكتساب خبرات عملية تؤهلهم لسوق العمل
          أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة يساعد
          الأفراد على تطوير مهاراتهم واكتساب خبرات عملية تؤهلهم لسوق العمل. توفر
          الأكاديمية مجموعة متنوعة من الدورات في مجالات مختلفة، يتم إعدادها
          وتقديمها بواسطة مدربين متخصصين بخبرة حقيقية.
        </h6>

        <div class="d-flex flex-wrap justify-content-center gap-2 gap-lg-5">
          <a
            href="courses.html"
            class="main-btn secondary"
            style="min-width: 170px"
          >
            الدورات التدريبية <i class="bi bi-arrow-right rotate-icon"></i>
          </a>
          <a
            href="contact-us.html"
            class="main-btn outline"
            style="min-width: 170px"
          >
            تواصل معنا <i class="bi bi-arrow-right rotate-icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
