<section class="sectionPadding" style="background-color: #faf1ff">
  <div class="container">
    <div class="row g-3 g-lg-5 align-items-center">
      <div class="col-12 col-lg-6">
        <div class="home-hero-image w-100">
          <img
            src="assets/images/img.png"
            alt="طبشور"
            class="rounded-5 w-100 h-100 object-fit-cover"
          />
        </div>
      </div>

      <div class="col-12 col-lg-6 d-flex flex-column gap-3 gap-lg-5">
        <div>
          <h1 class="text-primary fw-bold">
            استثمر في مهاراتك مع <br />
            <span class="text-secondary">أفضل الدورات</span>
          </h1>
        </div>

        <p class="fw-normal">
          أكاديمية تعليمية أونلاين تهدف إلى تقديم محتوى تدريبي عالي الجودة يساعد
          الأفراد على تطوير مهاراتهم واكتساب خبرات عملية تؤهلهم لسوق العمل. توفر
          الأكاديمية مجموعة متنوعة من الدورات في مجالات مختلفة، يتم إعدادها
          وتقديمها بواسطة مدربين متخصصين بخبرة حقيقية. نركز على تقديم تجربة
          تعليمية مرنة وسهلة الوصول، تتيح للمتعلم الدراسة في أي وقت ومن أي مكان،
          مع محتوى منظم، وتطبيقات عملية، ودعم مستمر لضمان تحقيق أفضل النتائج.
        </p>

        <ul class="list-unstyled row g-3 flex-wrap" style="max-width: 400px">
          <li class="d-flex align-items-center gap-3 col-6">
            <img
              src="assets/images/certificate-icon.png"
              alt=""
              style="width: 3rem; height: 3rem"
            />

            <div>
              <p style="font-size: 12px; opacity: 0.8">شهادات معتمدة</p>
              <h6 class="mt-2">لجميع الدورات</h6>
            </div>
          </li>
          <li class="d-flex align-items-center gap-3 col-6">
            <img
              src="assets/images/certificate-icon.png"
              alt=""
              style="width: 3rem; height: 3rem"
            />

            <div>
              <p style="font-size: 12px; opacity: 0.8">شهادات معتمدة</p>
              <h6 class="mt-2">لجميع الدورات</h6>
            </div>
          </li>
          <li class="d-flex align-items-center gap-3 col-6">
            <img
              src="assets/images/certificate-icon.png"
              alt=""
              style="width: 3rem; height: 3rem"
            />

            <div>
              <p style="font-size: 12px; opacity: 0.8">شهادات معتمدة</p>
              <h6 class="mt-2">لجميع الدورات</h6>
            </div>
          </li>
          <li class="d-flex align-items-center gap-3 col-6">
            <img
              src="assets/images/certificate-icon.png"
              alt=""
              style="width: 3rem; height: 3rem"
            />

            <div>
              <p style="font-size: 12px; opacity: 0.8">شهادات معتمدة</p>
              <h6 class="mt-2">لجميع الدورات</h6>
            </div>
          </li>
        </ul>

        <div class="d-flex gap-3 gap-xl-5 flex-wrap">
          <a href="about/trainer.html" class="main-btn"
            >استكشف المزيد عنا <i class="bi bi-arrow-left mt-2"></i
          ></a>

          <a href="about/trainer.html" class="main-btn secondary">
            الدورات التدريبية <i class="bi bi-arrow-left mt-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
