<nav class="navbar navbar-expand-xl fixed-top py-2 bg-primary">
  <div class="container">
    <a
      href="index.html"
      class="navbar-brand fw-bold m-0 p-0"
      style="width: 200px"
    >
      <img
        src="assets/images/logo.png"
        alt=""
        class="w-100 h-100 object-fit-contain"
      />
    </a>

    <button
      class="navbar-toggler navbar-dark"
      data-bs-toggle="collapse"
      data-bs-target="#nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav mx-auto gap-1">
        <li class="nav-item">
          <a class="nav-link" href="index.html">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="terms.html">الشروط والسياسات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="refund.html">سياسة الاسترجاع</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="courses.html">الدورات التدريبية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact-us.html">اتصل بنا</a>
        </li>
      </ul>

      <div class="d-flex gap-3 justify-content-center">
        <a href="cart.html" class="text-white d-flex align-items-center gap-1"
          ><i class="bi bi-basket3 fs-4"></i
        ></a>
        <a
          href="profile.html"
          class="text-white d-flex align-items-center gap-2"
          ><i class="bi bi-person-circle fs-4"></i> محمد عبد العزيز</a
        >
        <button
          class="d-flex align-items-center gap-1 bg-transparent text-white border border-white py-1 px-2 fw-light rounded-3"
        >
          <img src="assets/images/lang-icon.png" alt="" style="width: 1.3rem" />
          EN
        </button>
        <!-- <a
          href="register.html"
          class="main-btn secondary py-1 px-2"
          style="font-size: 16px"
          >انشاء حساب</a
        > -->
        <!-- <a
          href="login.html"
          class="main-btn outline py-1 px-2 outline"
          style="font-size: 16px"
          >تسجيل الدخول</a
        > -->
      </div>
    </div>
  </div>
</nav>
