<section class="sectionPadding">
  <div class="container">
    <div class="row g-4 g-lg-5 align-items-center">
      <div
        class="col-12 col-lg-7 d-flex flex-column gap-3 gap-lg-4 order-2 order-lg-1"
      >
        <div class="section-header">
          <span class="section-header-subtitle">عن الاكادمية</span>

          <h2 class="section-header-title">
            أهلاً بك، نحن <span>اكادمية رؤية</span>
          </h2>

          <p class="section-header-desc1">
            خبير تطوير برمجيات ومستشار تقني بخبرة تتجاوز 10 سنوات.
          </p>

          <p class="section-header-desc2">
            بدأت رحلتي في عالم البرمجة بشغف كبير، وعملت مع كبرى الشركات التقنية.
            أؤمن بأن التعليم يجب أن يكون عملياً ومبنياً على مشاريع حقيقية
            تواجهها في بيئة العمل. بدأت رحلتي في عالم البرمجة بشغف كبير، وعملت
            مع كبرى الشركات التقنية. أؤمن بأن التعليم يجب أن يكون عملياً ومبنياً
            على مشاريع حقيقية تواجهها في بيئة العمل.
          </p>
        </div>

        <ul class="list-unstyled row g-2 py-3 border-top">
          <li class="col-6">
            <span class="text-primary fw-medium" style="font-size: 2rem"
              >+15</span
            >
            <p style="font-size: 14px">دورة تدريبية</p>
          </li>
          <li class="col-6">
            <span class="text-primary fw-medium" style="font-size: 2rem"
              >+15</span
            >
            <p style="font-size: 14px">دورة تدريبية</p>
          </li>
        </ul>

        <div class="d-flex">
          <a href="about.html" class="main-btn"
            >استكشف المزيد عنى <i class="bi bi-arrow-left mt-2"></i
          ></a>
        </div>
      </div>

      <div class="col-12 col-lg-5 order-1 order-lg-2">
        <div class="w-100 who-we-are-image">
          <img
            src="assets/images/img.png"
            alt="طبشور"
            class="rounded-4 w-100 h-100 object-fit-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
